

@media (max-width: 800px) {
  .active{
    display: flex !important;
    left: 0 !important;
    background-color: rgba(255, 255, 255, 0.8) !important;
    height: 100vh !important;
    opacity: 1 !important;
    margin: 0 !important;
  }
}