.header{
  width: 100%;
}

.container{
  height: 80px;
}

.box{
  height: 80px;
  display: flex;
  justify-content: space-between;
  
}
.logo_image{
  display: flex;
  align-items: center;
  padding-left: 18px;
}
.menu{
  padding-right: 50px;
  display: flex;
  align-items: center;
  font-size: 22px;
  gap: 40px;
}
.menu a {
  font-family: 'Inter', sans-serif;
  text-decoration: none;
}
ul,li {
  list-style: none;
}
.mobile_btn{
  display: none; 
}

@media (max-width: 800px) {
  .mobile_btn{
    display: block;
    position: absolute;
    top: 30px;
    right: 20px;
    cursor: pointer;
    z-index: 10;
  }
  .menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    margin: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: -120%;
    width: calc(100%-20px);
    height: 100vh;
    z-index: 10;
    transition: left 1s;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -ms-transition: left 1s;
    -o-transition: left 1s;
  }
  .active{
    left: 0;
    background-color: #f8f8f8;
    
    height: 100vh;
    opacity: 0.5;
    margin: 0;
  }
  
  

}