.footer{
  width: 100%;
}

.container{
  height: 80px;
}

.box{
  height: 80px;
  display: flex;
  justify-content: space-between;
  
}
.logo_image{
  display: flex;
  align-items: center;
  padding-left: 18px;
}
.menu{
  padding-right: 50px;
  display: flex;
  align-items: center;
  font-size: 22px;
  gap: 40px;
}
.menu a {
  font-family: 'Inter', sans-serif;
  text-decoration: none;
}
ul,li {
  list-style: none;
}